.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rounded {
  border-radius: 2.5em;
}

/* Backgrounds */

.black-background {
  background-color: #1E1B1D !important;
}

.gunmetal-background {
  background-color: #212529 !important;
}

.dark-vanilla-background {
  background-color: #D1C8B1 !important;
}

/* End of Backgrounds */
/* Text Colors */

.black-text {
  color: #1E1B1D !important;
}

.gunmetal-text {
  color: #212529 !important;
}

.dark-vanilla-text {
  color: #D1C8B1 !important;
}

.magic-potion-text {
  color: #FF4466 !important;
}

.light-carmin-text {
  color: #E8606E !important;
}

.lime-text {
  color: #BFE700 !important;
}

/* End of Text Colors */